Source: libqmltoolbox
Section: misc
Priority: optional
Maintainer: Willy Scheibel <willy.scheibel@cginternals.com>
Build-Depends: build-essential, cmake, libcpplocate-dev, libcpplocate-dbg, qtbase5-dev, doxygen, graphviz
Standards-Version: 3.8.0

Package: libqmltoolbox
Architecture: any
Depends: libqt5core5a
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications

Package: libqmltoolbox-dev
Architecture: any
Depends: libqmltoolbox
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications

Package: libqmltoolbox-examples
Architecture: any
Depends: libqmltoolbox
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications

Package: libqmltoolbox-docs
Architecture: any
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications

Package: libqmltoolbox-dbg
Architecture: any
Depends: libqmltoolbox, libqmltoolbox-dev
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications

Package: libqmltoolbox-all
Architecture: any
Depends: libqmltoolbox, libqmltoolbox-dev, libqmltoolbox-docs, libqmltoolbox-examples
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications
