Source: libqmltoolbox
Section: misc
Priority: optional
Maintainer: Willy Scheibel <willy.scheibel@cginternals.com>
Build-Depends: build-essential, cmake, libcpplocate-dev, libcpplocate-dbg, qtbase5-dev, qtdeclarative5-dev, qtquickcontrols2-5-dev, doxygen, graphviz
Standards-Version: 3.8.0

Package: libqmltoolbox
Architecture: any
Depends: libcpplocate, libqt5core5a, libqt5quick5, libqt5quickwidgets5, libqt5declarative5, qml-module-qtquick-controls, qml-module-qtquick-controls2, qml-module-qtquick-dialogs, qml-module-qtquick-layouts, qml-module-qtquick-templates2
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications.

Package: libqmltoolbox-dev
Architecture: any
Depends: libqmltoolbox, libcpplocate-dev, qtbase5-dev, qtdeclarative5-dev, qtquickcontrols2-5-dev
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications.

Package: libqmltoolbox-dbg
Architecture: any
Depends: libqmltoolbox, libqmltoolbox-dev
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications.

Package: libqmltoolbox-all
Architecture: any
Depends: libqmltoolbox, libqmltoolbox-dev
Homepage: https://github.com/cginternals/qmltoolbox
Description: QML item library for cross-platform graphics applications.
